
.sidenav__container {
  display: flex;
  width: 120px;
  height: 200px;
  .sidenav__content {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    position: fixed;
    margin-right: 30px;

  }
}
