<div class="header__container">
  <div class="header__wrapper">
    <div class="header__logo pointer" [routerLink]="['']">
      <img src="../../../../assets/images/emblema_mai.png" alt="">
    </div>
    <div class="header__search">
      <app-search-form></app-search-form>
    </div>
    <div class="header__profile">
      <app-profile *ngIf="!auth.isLoggedIn()" [routerLink]="['/login']"></app-profile>
      <div *ngIf="auth.isLoggedIn()">
        <a  [routerLink] = "['/user', auth.currentUserValue?.id]">{{ auth.currentUserValue?.fullName}}</a>
        <br>
        <a class="pointer"
         (click)="auth.logout()"
         [routerLink]="['/login']">
        Logout
      </a>
    </div>
    </div>
  </div>
</div>

