<div class="header__container">
  <div class="header__wrapper">
    <div class="header__logo pointer" [routerLink]="['']">
      <img src="../../../../assets/images/emblema_mai.png" alt="">
    </div>
    <div class="header__search">
      <app-search-form></app-search-form>
    </div>
    <div class="header__profile" *ngIf="currentUser$ | async as currentUser">
      <div class="header__profile-wrapper" *ngIf="auth.isLoggedIn()">
        <div class="header__notification-counter"
             (click)="showNewPosts()"
             *ngIf="currentUser.notificationsCount > 0">
          <span>{{ currentUser.notificationsCount }}</span>
        </div>
        <div
          class="header__username"
          [routerLink] = "['/user', currentUser.id]"
        >
          {{ currentUser.fullName}}
        </div>
        <span> |</span>
        <div class="pointer"
         (click)="auth.logout()"
         [routerLink]="['/login']">
        Выход
      </div>
    </div>
    </div>
  </div>
</div>

