/* You can add global styles to this file, and also import other style files */
:root {
  --mai-color: rgb(0, 149, 218);
  --mar-color-lighter: deepskyblue;
  --post-width: 650px;

  --shadow: 0 5px 15px rgba(139,160,176,0.5);
  --red: rgba(241, 63, 63, 0.91);
}


@import '~material-design-icons/iconfont/material-icons.css';

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #ec6ead63, #3494e6ad);
  background-position: top right;
}

.pointer {
  cursor: pointer;
}


.nav-btn {
  font-family: ysans,Arial,sans-serif;
  text-decoration: none;
  margin-bottom: 5px;
  font-size: 13pt;
  color: black;
  padding: 8px;
  cursor: pointer;
}

.nav-btn-active {
  align-self: flex-start;
  background-color: rgba(214, 224, 236, 0.72);
  border-radius: 20px;
  color: var(--mai-color);
  font-family: ysans,Arial,sans-serif;
  text-decoration: none;
  margin-bottom: 5px;
  font-size: 13pt;
  padding: 8px;
  cursor: pointer;
}

.nav-btn:hover {
  align-self: flex-start;
  background-color: rgba(214, 224, 236, 0.72);
  border-radius: 20px;
  color: rgba(1, 0, 0, 0.91);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//Checkbox
.mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: deepskyblue;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  background-color: deepskyblue !important;
}

//Title
.mat-focused .mat-form-field-label, .mat-form-field-ripple {
  color: var(--mai-color)  !important;
}
.mat-form-field-ripple {
  background-color: deepskyblue !important;
}

.mat-dialog-container {
  border-radius: 50px;
}
.tox-statusbar {
  display: none !important;
}
