<div class="feed__container">
  <div class="feed__navigate">
    <div class="feed__levels">
      <div class="nav-btn font-size-10 ">Все</div>
      <div class="nav-btn font-size-10 ">Институт</div>
      <div class="nav-btn font-size-10 ">Кафедра</div>
    </div>
    <div class="feed__sort">
      <div class="feed__srot-term">новое</div>
      <div>/</div>
      <div class="feed__srot-term">интересное</div>
    </div>
  </div>
  <div class="feed__posts" *ngFor="let i of collection">
    <app-post></app-post>
  </div>
</div>
