.restore-form {
  background-color: #0c276185;
  height: 170px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  position: relative;

  .restore-form__title {
    font-size: 20pt;
    font-weight: 600;
    border-radius: 15px 15px 0 0;
    box-shadow: 0px 0px 29px -10px rgba(250,250,250,1);
    display: flex;
    background-color: white;
    width: 100%;
    height: 20%;
    justify-content: center;
    align-items: center;
  }

  .alert-danger {
    color: red;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 25%;
  }

  .restore-form__field {
    position: relative;
    bottom: 20%;
    width: 80%;
    height: 30px;
    box-sizing:border-box;
    margin-top: 12%;
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
  }

  .restore-form__footer {
    width: 70%;
    position: relative;
    bottom: 20%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .restore-form__button {
    color: white;
    background-color: #368ca7;
    width: 50%;
    height: 25px;
    border: none;
    text-align: center;
    border-radius: 20px;
  }

  .restore-form__login {
    cursor: pointer;
    color: white;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }

  .restore-form__button:hover {
    background-color: #081b21;
    cursor: pointer;
    transition-delay: 0.02s;
  }
}
