<div class="restore-form">
  <div class="restore-form__title">ВОСТАНОВИТЬ ПАРОЛЬ</div>
  <div class="alert-danger" *ngIf="phoneIsInvalid">Неверный формат телефона</div>
  <input
    type="tel"
    class="restore-form__field"
    [formControl]="phone"
    placeholder="Телефон"
    id="phone">
  <div class="restore-form__footer">
    <div class="restore-form__login" routerLink="/login">Вход</div>
    <button class=restore-form__button (click)="restore()"> Отправить пароль </button>
  </div>
</div>
