<div class="comment__container">
  <div class="comment__user-photo"><img src="https://i.pinimg.com/originals/06/2d/0c/062d0cb00faf1879c6474b5d43cde923.jpg"></div>
  <div class="comment__content">
    <div class="comment__header">
      <div class="comment__user-name"> Саша К</div>
      <div class="comment__user-date">2 часа назад</div>
    </div>
    <div class="comment__text">wefwewfeweffwwefwewfewefffffffffffffffffffwefefwewfewefffffffffffffffffffweffffffffffffffffffwef</div>
    <div class="comment__footer">
      <div class="comment__like">
        <app-like></app-like>

      </div>
    </div>
  </div>
</div>
