.user-post__container {
  width: var(--post-width);
  margin: 0 auto;
  justify-content: center;

  .user-post__post {
    margin-top: 50px;
    margin-bottom: -40px;
  }
  .user-post__comments {
    background-color: white;
    font-family: ysans,Arial,sans-serif;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow);
    border-radius: 15px;
    padding-bottom: 20px;


  }


}

