<link href="https://fonts.googleapis.com/css?family=Jura&display=swap" rel="stylesheet">
<div class="create-post__container">
  <h2 class="create-post__title" >Создать пост</h2>
  <form
    [formGroup]="createPostForm"
    (ngSubmit)="createPost()">
    <mat-form-field class="create-post__title-field">
      <input
        formControlName="title"
        matInput
        placeholder="Заголовок темы (не обязательно)"
        type="text"/>
    </mat-form-field>
    <editor
      apiKey="qagffr3pkuv17a8on1afax661irst1hbr4e6tbv888sz91jc"
      formControlName="content"
      [init]="{
            icons: 'material',
            skin: 'borderless',
            menubar: false,
            plugins: 'image imagetools codesample emoticons media paste table',
            toolbar: 'styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent image media codesample emoticons  table',
            min_height: 400,
            image_dimensions: false,
            image_description: false,
            image_uploadtab: true,
            paste_data_images: true,
            images_upload_url: 'сюда добавить загрузчик фото на бэк'
          }">
    </editor>
    <div class="create-post__footer">
        <mat-checkbox v
          class="create-post__anon"
          formControlName="isAnonymous">
        Анонимно
      </mat-checkbox>
      <button class="create-post__button">
        Создать
      </button>
    </div>
  </form>
</div>


