.change-password {
  width: 300px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;

  .change-password__field {
    padding: 5px 0;
  }
}

.close-ico {
  float: right;
  cursor: pointer;
}

:host ::ng-deep .mat-raised-button {
  color: black;
  background: #69f0ae;
}
