<span class="material-icons close-ico" (click)="onCloseModal()">
clear
</span>
<form  class="change-password" [formGroup]="newPasswordForm">
  <mat-form-field class="change-password__field">
    <input
      formControlName="currentPassword"
      matInput
      placeholder="Текущий пароль"
      type="password"/>
    <mat-error *ngIf="!wrongPassword &&  currentPassword.errors?.required">
      Обязательное поле
    </mat-error>
    <mat-error *ngIf="wrongPassword">
      Введен неверынй пароль
    </mat-error>
  </mat-form-field>
  <mat-form-field class="change-password__field">
    <input
      formControlName="newPassword"
      matInput
      placeholder="Новый пароль"
      type="password"/>
    <mat-error *ngIf="newPassword.errors?.required">
      Обязательное поле
    </mat-error>
  </mat-form-field>
  <mat-form-field class="change-password__field">
    <input
      formControlName="repeatNewPassword"
      matInput
      placeholder="Повторите новый пароль"
      type="password"/>
    <mat-error *ngIf="repeatNewPassword.touched && repeatNewPassword != newPassword">
      Пароли не совпадают
    </mat-error>
    <mat-error *ngIf="repeatNewPassword.errors?.required">
      Обязательное поле
    </mat-error>
  </mat-form-field>
  <button mat-raised-button (click)="onSubmit()">Сменить</button>
</form>
