@import "~bootstrap/scss/bootstrap.scss";
$mai-color: rgb(0, 149, 218);


.create-post__container {
  margin-top: 50px;
  background-color: white;
  box-shadow: var(--shadow);
  border-radius: 15px;
  padding: 30px;
  width: var(--post-width);

  .create-post__title {
    font-family: ysans,Arial,sans-serif;
  }

  .create-post__title-field {
    width: 100%;
  }

  .create-post__button {
    right: 50px;
    bottom: 30px;
    width: 150px;
    font-size: 13pt;
    background-color: var(--mai-color);
    padding: 5px 20px;
    border: none;
    border-radius: 25px;
  }

  .create-post__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .create-post__anon {
      font-size: 12pt;
      font-weight: 600;
      font-family: "Jura", sans-serif;
      color: black;
    }

    .create-post__button {
      width: 150px;
      font-size: 13pt;
      background-color: deepskyblue;
      padding: 5px 20px;
      border: none;
      border-radius: 25px;
    }

    .create-post__button:hover {
      cursor: pointer;
      background-color: #006897;
    }
  }
}


