.new-comment__container {
  display: flex;
  align-items: center;
  font-family: ysans,Arial,sans-serif;
  padding: 10px 20px 0 20px;

  .new-comment__user-photo {
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    height: 40px;

    img {max-width:100%;height:auto;}
  }

  .new-comment__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
    margin-left: 6px;


    .new-comment__text {
      padding: 20px 20px 0 20px;
      word-wrap: break-word;
      outline : none;
      resize : none;
      overflow: hidden;
      border-radius: 15px;
      border: 2px solid #69696c;
    }
  }
  .new-comment__sender {
    padding: 20px;
    color: gray;
    cursor: pointer;
  }

  .new-comment__sender:hover {
    color: black;
  }

}

