
.user-profile__container {
  margin-top: 10px;
  font-family: ysans,Arial,sans-serif;
  .user-profile__user-info {
    width: var(--post-width);
    height: 300px;
    background-color: white;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow);
    border-radius: 15px;
    overflow: hidden;
  }

  .user-profile__header {
    height: 60%;
    background-image: url(https://yastatic.net/s3/district/prod/build/c0fba8bafaf86f831017cf3343989a17.svg);
    position: relative;

    .user-profile__pic {
      border-radius: 50%;
      border: 3px solid white;
      overflow: hidden;
      width: 100px;
      height: 100px;
      position: absolute;
      top: 60%;
      left: 5%;

      &:hover:before {
        position: absolute;
        left: 35%;
        top: 35%;
        background: url("../../../assets/images/add_a_photo-black-18dp.svg") no-repeat center;
        content: "";
        height: 30px;
        width: 30px;
        background-size: 100%;

      }

      &:hover:after {
        transition-delay: 0.02s;
        background-color:rgba(255, 255, 255, 0.5);
        align-content: center;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      .user-profile__pic-upload {
        display: none;
      }

      img {max-width:100%;height:auto;}
    }
  }

  .user-profile__name {
    padding-top: 50px;
    padding-left: 20px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;

  }
  .user-profile__buttons {
    position: relative;
    font-family: ysans, Arial, sans-serif;


    .user-profile__change-password {
      position: absolute;
      right: 10px;
      bottom: 50px;
      color: #939cb0;
      font-size: .8rem;
      cursor: pointer;
    }

    .user-profile__subscribe {
      position: absolute;
      display: flex;
      align-items: center;
      right: 20px;
      bottom: 5px;
      text-decoration: none;
      font-size: 13pt;
      background-color: var(--mar-color-lighter);
      padding: 5px 20px;
      border-radius: 25px;
    }

    .user-profile__subscribe:hover {
      cursor: pointer;
      background-color: #006897;
    }
  }

  .user-profile__post-switcher {
    display: flex;
    width: 100%;
    height: 15%;
    padding-top: 30px;

    .user-profile__post-type {
      background: #e3ecee;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      width: 50%;
      font-weight: 600;
      font-size: 1rem;

      &:hover:not(.active) {
        cursor: pointer;
      }

      &:first-child {

        &.active {
          box-shadow: inset -5px -5px 5px rgba(154, 147, 140, 0.5)
        }
      }

      &:last-child {

        &.active {
          box-shadow: inset 5px -5px 5px rgba(154, 147, 140, 0.5)
        }
      }

    }

  }

  .user-profile__user-posts {
    margin: 0;
  }
}
