<div class="user-profile__container">
  <div class="user-profile__user-info">
    <div class="user-profile__header">
      <div class="user-profile__pic" (click)="fileInput.click()">
        <input class="user-profile__pic-upload"
               id="fileInput"
               #fileInput
               type='file'
               (change)="onSelectFile($event)">
        <img [src]="user?.userPic">
      </div>
    </div>
    <div class="user-profile__name">{{user?.fullName}}</div>
    <div class="user-profile__buttons">
      <div class="user-profile__change-password"
           (click)="onChangePassword()">
        Сменить пароль</div>
      <div *ngIf="user">
        <div class="user-profile__subscribe"
             (click)="Subscribe(user?.id)"
             *ngIf="!user?.isSubscribe else isSubscribe">
          <i class="material-icons">
            control_point
          </i>
        </div>
        <ng-template #isSubscribe>
          <div class="user-profile__subscribe subscribed-mode"
               (click)="Unsubscribe(user?.id)">
          </div>
        </ng-template>
      </div>

    </div>
    <div class="user-profile__post-switcher">
      <div class="user-profile__post-type"
           (click)="switchPostType('userPost')"
           [class.active]="userPostType == 'userPost'"
      > Публикации пользователя</div>
      <div class="user-profile__post-type "
           (click)="switchPostType('userFav')"
           [class.active]="userPostType == 'userFav'"
      >Избранное</div>
    </div>
  </div>
  <div class="user-profile__user-posts"  [@bounceIn]="userPostType">
    <div class="user-profile__user-posts"
         *ngFor="let post of userPosts">
      <app-post  [post]="post"></app-post>
    </div>
  </div>
</div>
