.like__container {
  margin-left: 20px;
  display: flex;
  align-items: center;
  color: gray;
  cursor: pointer;

  .like__counter {
    font-family: ysans,Arial,sans-serif;
    font-size: 14px;
    padding-left: 3px;
    color: inherit;

  }
}

.like__container:hover {
  color: var(--red);
}
