<div class="post">
  <div class="post-header">
    <div class="post-header__userpic pointer"><img
      [src]="post.author?.userPic">
    </div>
    <div class="post-header__userinfo">
      <div class="post-header__username pointer"
           [routerLink] = "['/user', post.author.id]">
        {{post?.author?.firstName}}
        {{post?.author?.lastName}}
      </div>
      <div class="post-header__time">
        {{post.publishDate | date}}
      </div>
    </div>
  </div>
  <div class="post-content">
    <div class="post-content__title pointer"
         [routerLink] = "['/post', post.id]">
      {{post.title}}
    </div>
    <div class="post-content__article">
      {{post.content}}
    </div>
  </div>
  <div class="event-actions">
    <div class="event-actions__comments event-actions_flex pointer color color-black" [routerLink] = "['/post', post.id]">
      <i class="material-icons">
        mode_comment
      </i>
      <span class="event-actions__counter">
        {{post.commentsCount}}
      </span>
    </div>
    <div class="event-actions__complain event-actions_flex pointer color color-black">
      <i class="material-icons">
        error
      </i>
    </div>
    <div class="event-actions__favorite event-actions_flex pointer color">
      <i class="material-icons">
        bookmark
      </i>
    </div>
    <app-like
      [likesCount]="post.likesCount">
    </app-like>
  </div>
  <div class="post-comments" [routerLink] = "['/post', post.id]">
  </div>
</div>
