<div class="post">
  <div class="post-header">
    <div class="post-header__userpic pointer"></div>
    <div class="post-header__userinfo">
      <div class="post-header__username pointer">Вася Пупкин</div>
      <div class="post-header__time">20:05:2016</div>
    </div>
  </div>
  <div class="post-content">
    <div class="post-content__title pointer">Новая тема ппцwefefw</div>
    <div class="post-content__article">
      С другой стороны постоянный количественный рост и сфера нашей активности играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач! Дорогие друзья, сложившаяся структура организации требует от нас системного анализа экономической целесообразности принимаемых решений. Задача организации, в особенности же рамки и место обучения кадров требует от нас системного анализа новых предложений.
    </div>
  </div>
  <div class="event-actions">
    <div class="event-actions__comments pointer">ком</div>
    <div class="event-actions__complain pointer">жал</div>
    <div class="event-actions__favorite pointer">fav</div>
    <div class="event-actions__likes pointer">lik</div>
  </div>
  <div class="post-comments"></div>
</div>
