/* You can add global styles to this file, and also import other style files */
$post-width: 650px;

@import '~material-design-icons/iconfont/material-icons.css';


body {
  margin: 0;
  padding: 0;
  background-color: #c0c3c5;
  background-repeat: no-repeat;
  background-position: top right;
}

.pointer {
  cursor: pointer;
}


.nav-btn {
  font-family: ysans,Arial,sans-serif;
  text-decoration: none;
  margin-bottom: 5px;
  font-size: 13pt;
  color: black;
  padding: 8px;
  cursor: pointer;
}
.nav-btn:hover {
  background-color: rgba(214, 224, 236, 0.72);
  border-radius: 20px;
  color: rgba(1, 0, 0, 0.91);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
